<center> <font size =10 color="Brown">LISTA DE PROYECTOS</font></center>
<BR>
<table>
      <th>Municipio</th>
    <th>Departamento</th>
    <th>Nombre proyecto</th>
    <th>Descripcion</th>
    <th>Objetivos metas</th>
    <th>Justificacion</th>
    <th>Costo inversion</th>
    <th>Plazo ejecucion</th>
    <th>Fecha inicio</th>
    <th>Fecha final</th>
    <th>Mano obra</th>
    <th>Materiales</th>
    <th>Equipos</th>
    <th>Gasto general</th>
    <th>Otros costos</th>
    <th>Empleos hombres</th>
    <th>Empleos mujeres</th>
    <th>Sector</th>
    <th>Tipo proy</th>
    <th>Ubicacion</th>
    <th>Estado</th>
    <th>Contratacion</th>
  </tr>

<% for proyecto in @proyectos %>
      <td><%=h proyecto.municipio %></td>
    <td><%=h proyecto.departamento %></td>
    <td><%=h proyecto.nombre_proyecto %></td>
    <td><%=h proyecto.descripcion %></td>
    <td><%=h proyecto.objetivos_metas %></td>
    <td><%=h proyecto.justificacion %></td>
    <td><%=h proyecto.costo_inversion %></td>
    <td><%=h proyecto.plazo_ejecucion %></td>
    <td><%=h proyecto.fecha_inicio %></td>
    <td><%=h proyecto.fecha_final %></td>
    <td><%=h proyecto.mano_obra %></td>
    <td><%=h proyecto.materiales %></td>
    <td><%=h proyecto.equipos %></td>
    <td><%=h proyecto.gasto_general %></td>
    <td><%=h proyecto.otros_costos %></td>
    <td><%=h proyecto.empleos_hombres %></td>
    <td><%=h proyecto.empleos_mujeres %></td>
    <td><%=h proyecto.sector_id %></td>
    <td><%=h proyecto.tipo_proy_id %></td>
    <td><%=h proyecto.ubicacion_id %></td>
    <td><%=h proyecto.estado_id %></td>
    <td><%=h proyecto.contratacion_id %></td>
    <td><%= link_to 'Show', proyecto %></td>
    <td><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
    <td><%= link_to 'Destroy', proyecto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New proyecto', new_proyecto_path %>
