<br>
<center> <font size =10 color="Brown">REGISTRO DE PROYECTOS</font></center> 
<br>
<br>

<table>
<align="left"><font size = 4 color="Red">Datos Generales</align></font >
<td width="50%">
<p>
  <b>Municipio:</b>
  <%=h @proyecto.municipio %>
</p>

<p>
  <b>Departamento:</b>
  <%=h @proyecto.departamento %>
</p>

<p>
  <b>Nombre proyecto:</b>
  <%=h @proyecto.nombre_proyecto %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @proyecto.descripcion %>
</p>
<p>
<b>Fuentes de financiamiento</b><br />
<% x = 0 %>
<% @proyecto.fuentes.each do |fuen| %>
  <%= fuen.tipo_fuente.descripcion %>: 
  <%= fuen.monto %><br />
  <% x += fuen.monto.to_i %>
<% end %>
<b>Total: </b><%= x %>
</p>

<p>
  <b>Objetivos metas:</b>
  <%=h @proyecto.objetivos_metas %>
</p>

<p>
  <b>Justificacion:</b>
  <%=h @proyecto.justificacion %>
</p>


<p>
  <b>Costo inversion:</b>
  <%=h @proyecto.costo_inversion %>
  <% z =  @proyecto.costo_inversion.to_i %>
</p>
</td>
<td width="12%"></td>
<td>
<p>
  <b>Plazo ejecucion:</b>
  <%=h @proyecto.plazo_ejecucion %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%=h @proyecto.fecha_inicio %>
</p>

<p>
  <b>Fecha final:</b>
  <%=h @proyecto.fecha_final %>
</p>

<p>
  <b>Mano obra:</b>
  <%=h @proyecto.mano_obra %>
<% y = @proyecto.mano_obra.to_i %>
<br />
  <b>Materiales:</b>
  <%=h @proyecto.materiales %>
  <% y +=@proyecto.materiales.to_i %>

<br />
  <b>Equipos:</b>
  <%=h @proyecto.equipos %>
  <% y += @proyecto.equipos.to_i  %>
<br />
  <b>Gasto general:</b>
  <%=h @proyecto.gasto_general %>
  <% y +=  @proyecto.gasto_general.to_i   %>
<br>

  <b>Otros costos:</b>
  <%=h @proyecto.otros_costos %>
  <% y += @proyecto.otros_costos.to_i %>


</p>
<b>Total de la inversion:</b> <%= y %><br/>
<%= '<p id="errorExplanation2">' unless x==y and z==y %>
<%= "No coinciden la inversion y el gasto" unless x==y %><br />
<%= "No coinciden la inversion y el detalle de la inversion" unless z==y %>
</p>
</td>
</tr>
</table>
<table>
<td>
<p>
  <b>Empleos hombres:</b>
  <%=h @proyecto.empleos_hombres %>
</p>

<p>
  <b>Empleos mujeres:</b>
  <%=h @proyecto.empleos_mujeres %>
</p>

<p>
  <b>Sector:</b>
  <%=h @proyecto.sector.descripcion %>
</p>
</td>
<td width="35%"></td>
<td>
<p>
  <b>Tipo proy:</b>
  <%=h @proyecto.tipo_proy.descripcion %>
</p>

<p>
  <b>Ubicacion:</b>
  <%=h @proyecto.ubicacion.descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%=h @proyecto.estado_id %>
</p>

<p>
  <b>Contratacion:</b>
  <%=h @proyecto.contratacion_id %>
</p>
</td>
</tr>
</table>

<%= link_to 'Modificar', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Atras', proyectos_path %>
