<h1>Editing pia_ocotal</h1>

<% form_for(@pia_ocotal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pia_ocotal %> |
<%= link_to 'Back', pia_ocotals_path %>