<h1>Editing contratacion</h1>

<%= error_messages_for :contratacion %>

<% form_for(@contratacion) do |f| %>
  <p>
    <b>Descripcion</b><br />
    <%= f.text_field :descripcion %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @contratacion %> |
<%= link_to 'Back', contratacions_path %>
