<h1>Listing tipo_proys</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% for tipo_proy in @tipo_proys %>
  <tr>
    <td><%=h tipo_proy.descripcion %></td>
    <td><%= link_to 'Show', tipo_proy %></td>
    <td><%= link_to 'Edit', edit_tipo_proy_path(tipo_proy) %></td>
    <td><%= link_to 'Destroy', tipo_proy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tipo_proy', new_tipo_proy_path %>
