<h1>Listing estados</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% for estado in @estados %>
  <tr>
    <td><%=h estado.descripcion %></td>
    <td><%= link_to 'Show', estado %></td>
    <td><%= link_to 'Edit', edit_estado_path(estado) %></td>
    <td><%= link_to 'Destroy', estado, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New estado', new_estado_path %>
